<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table view</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/tableview.css">
    <link rel="stylesheet" href="/index.css">

      {{!-- links for bootstrap and fontawsome --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	  <link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">  
    
</head>

<body>  
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	  <div class="container-fluid">
		<!-- <a href="#" class="navbar-brand"><img src="img/logo.png" alt=""></a> -->
		  <a href="#" class="navbar-brand lg-12 md-6 sm-4"><img class="img-fluid" style="width: 220px; height:80px;" src="https://xhubaddis.com/wp-content/uploads/2021/11/UPDATED-LOGOS-GUYS-02.png" ></a>		
	  </div>
    <div class="collapse navbar-collapse" id="navbarResponsive" style="width:fit-content; float:right;font-family:'Times New Roman', Times, serif; margin-right:40px;">
			<div class="container email" id="navbarEmail">
        <ul class="navbar-nav ml-auto">
				  <li class="nav-item">                    
            {{#if user}}
            <h4>{{ user }}</h4>
            {{/if}} 
				  </li>
			  </ul>
      </div>                      
		</div>
  </nav>
  <main>
    <hr>
    <h1>List of request</h1>
    <br>
    {{!-- {{#if requests.length > 0 }}
    <p>have request </p>
    {{#/if}} --}}
    <div class="container">
      {{#request}}
      <div class="card table-card">
        <h5 class="card-header">{{ enterpreneur_name }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{business_name}}</h5>
          <p class="card-text">{{business_description}}</p>
          <p>{{email}}</p>

          <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
             <li class="list-group-item">{{business_partener1}}</li>
             <li class="list-group-item">{{business_partener2}}</li>
             <li class="list-group-item">{{business_partener3}}</li>
            </ul>
          </div>

          <p>Address: {{business_address}}</p>

          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
      {{/request}}
      <div class="card">
       <div class="card-header">
         Previous work
       </div>
       <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
       </div>
      </div>
			<div class="card">
  			<div class="card-header">
  			  Response
  			</div>
  			<div class="card-body">
  			  <h5 class="card-title">Special title treatment</h5>
  			  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<form action="/tableviewDetail/interview" method="post">
						<button type="submit" class="btn btn-outline-primary">Call for an Interview</button>
						<input type="hidden" name="email" value={{request.0.email}}>
					</form>
					<form action="/tableviewDetail/reject" method="post">
						<button type="submit" class="btn btn-outline-primary">Reject</button>
						<input type="hidden" name="email" value={{request.0.email}}>
					</form>
					
  			</div>
			</div>
    </div>
  </main>

</body>
</html>